<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $scss := resources.Get "scss/app.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $scss.RelPermalink }}">
    <title>
        {{ with .Title }}
            {{- . -}} 
        {{ else }}
            {{- .Site.Title -}}
        {{ end }}
    </title>
</head>
<body id="{{ with .Params.id }} {{- . -}} {{ else }} home {{ end }}">
    {{ block "header" . }}
        {{ partial "header.html" .}}
    {{end}}
        
    <div class=" container-fluid flex-grow-1">
        {{ block "main" . }}{{ end }}
    </div>

    {{ block "footer" . }}
        {{ partial "footer.html" .}}
    {{end}}

    {{ $js := resources.Get "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"  }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

    {{ $js := resources.Get "js/main.js" | js.Build "main.js" | fingerprint }}
    <script src="{{ $js.RelPermalink  }}"></script>
</body>
</html>