<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $scss := resources.Get "scss/app.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $scss.RelPermalink }}">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ block "header" . }}
        {{ partial "header.html" .}}
    {{end}}
        
    <div class=" ">
        {{ block "main" . }}{{ end }}
    </div>

    {{ block "footer" . }}
        {{ partial "footer.html" .}}
    {{end}}

</body>
</html>